
/*媒体查询*/
@media only screen and (min-width: 376px) and (max-width: 414px){
    .m_wrapper .icon_box {
        position: absolute;
        top: 10px;
        right: 26%;
    }
}
@media only screen and (min-width: 361px) and (max-width: 375px) {
    .m_wrapper .icon_box {
        position: absolute;
        top: 10px;
        right: 28%;
    }
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
     .m_wrapper .icon_box {
        position: absolute;
        top: 12px;
        right: 30%;
    }
    .m_wrapper .logo_box_img li{
        width: 80px;
        height: 80px;
        display: inline-block;
        text-align: center;
      }
}
@media only screen and (width: 320px){
     .m_wrapper .icon_box {
        position: absolute;
        top: 12px;
        right: 34%;
    }
}
@media only screen and (max-width: 450px) and (min-width: 414px){
  .m_wrapper .icon_box {
        position: absolute;
        top: 12px;
        right: 25%;
    }

}

@media only screen and (min-width: 530px) and (max-width: 700px) {
	body{
		min-width: 0px;
	}
	.wrapper {
		display: none;
	}
	.m_wrapper {
		display: block;
		background: #f1f1f1;
		position: relative;
		padding-bottom: 20px;
	}
	 /*头部*/
	.m_wrapper header {
		padding: 3px 5px;
		width: 100%;
		margin-bottom: 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		/* Firefox */
		-webkit-box-sizing: border-box;
		/* Safari */
	}
	/*天气*/
	.m_wrapper .weather {
		position: relative;
		width: 50%;
		display: inline-block;
	}
	.m_wrapper .icon_weatert {
		width: 25px;
		height: 28px;
		background: url(../img/weather_1.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 5px;
	}
	.m_wrapper .icon_weatert {
		width: 25px;
		height: 28px;
		background: url(../img/weather_1.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 5px;
	}
	.m_wrapper .weather div {
		display: inline-block;
	}
	.m_wrapper .temp {
		font-size: 20px;
		color: #8c8c8c;
		padding-left: 2px;
	}
	/*地区*/
	.m_wrapper .area {
		position: relative;
		padding: 0 2px 0 7px;
		top: 3px;
		color: #999;
	}
	.m_wrapper .area p {
		height: 13px;
		line-height: 13px;
		font-size: 11px;
		color: #999;
	}
	.dir_down {
		width: 10px;
		height: 9px;
		background: url(../img/down.png) no-repeat;
		display: inline-block;
		position: relative;
		bottom: -5px;
	}
	/*登录*/
	.m_wrapper .login {
		position: absolute;
		width: 50%;
		display: inline-block;
		top: 0;
		right: 0;
	}
	.m_wrapper .user_box_img {
		position: absolute;
		top: 8px;
		right: 50px;
	}
	.m_wrapper .user_box_set {
		position: absolute;
		top: 12px;
		right: 12px;
	}
	.m_wrapper .login i.user_img {
		width: 20px;
		height: 20px;
		background: url(../img/login.png) no-repeat;
		display: inline-block;
	}


.m_wrapper .login i.user_set {
	width: 20px;
	height: 17px;
	background: url(../img/set.png) no-repeat;
	display: inline-block;
}
/*logo*/

.m_wrapper .logo {
	padding: 17px 0 15px;
	vertical-align: middle;
	text-align: center;
}

.m_wrapper article form {
	padding: 0 10px;
}


/*搜索*/

.m_wrapper article .search {
	position: relative;
	width: 100%;
}


/*输入框*/

.m_wrapper article form input[type="text"] {
	border-radius: 0;
	margin: 0;
	padding: 7px 65% 7px 6px;
	height: 26px;
	line-height: 22px;
	resize: none;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}


 /*搜索按钮*/

.m_wrapper article form button[type="submit"] {
	position: absolute;
	top: 0px;
	right: -1px;
	width: 82px;
	height: 42px;
	background: #38f;
	color: #fff;
	white-space: nowrap;
	line-height: 42px;
	letter-spacing: -1px;
	font-size: 16px;
	border-top: 1px solid #38f;
	border: 1px solid #38f;
	box-sizing: inherit;
}

.m_wrapper .icon_box {
	position: absolute;
	top: 10px;
	right: 18%;
}

.m_wrapper .icon_box i {
	display: inline-block;
}

.m_wrapper .icon_box .radio {
	width: 16px;
	height: 22px;
	background: url(../img/radio.png) no-repeat;
}

.m_wrapper .icon_box .three_horn {
	width: 0px;
	height: 0px;
	border: 4px solid #717077;
	;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom: 0;
	position: absolute;
	top: 10px;
	left: 18px;
}


/*nav*/

.m_wrapper article nav {
	padding: 0px 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 20px;
}

.m_wrapper article nav a {
	color: #666;
	text-decoration: none;
}

.m_wrapper article nav i {
	display: block;
	width: 22px;
	height: 20px;
	margin-bottom: 5px;
}


/*nav 列表*/

.m_wrapper article nav .news i {
	background: url(../img/icon_1.png) no-repeat;
}

.m_wrapper article nav .novel i {
	background: url(../img/icon_2.png) no-repeat;
}

.m_wrapper article nav .vedio i {
	background: url(../img/icon_3.png) no-repeat;
}

.m_wrapper article nav .rice i {
	background: url(../img/icon_4.png) no-repeat;
}

.m_wrapper article nav .map i {
	background: url(../img/icon_5.png) no-repeat;
}

.m_wrapper article nav .more i {
	background: url(../img/icon_6.png) no-repeat;
}


/*section one*/

.m_wrapper section {
	margin-top: 10px;
	background: #fff;
}
/*我的导航*/

.m_wrapper table {
	padding: 10px;
	border-collapse: collapse;
}


 /*标题*/

.m_wrapper .tit {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
	color: #999;
	padding: 10px 15px;
	font-size: 14px;
}

.m_wrapper .icon_more {
	display: inline-block;
	width: 12px;
	height: 18px;
	background: url(../img/icon_more.png) no-repeat;
}


 /*导航内容*/

.m_wrapper table tbody {
	text-align: center;
	font-size: 14px;
	color: #333;
}

.m_wrapper table tbody tr {
	border-bottom: 1px solid #f5f5f5;
}

.m_wrapper table tr td {
	border-left: 1px solid #f5f5f5;
	padding: 13px 0px;
}

.m_wrapper table tr td:nth-child(1) {
	border-left: 0px;
}

.m_wrapper table td a {
	color: #333;
	text-decoration: none;
}


/*生活服务*/

.m_wrapper .local {
	padding: 20px 15px;
	position: relative;
}

.m_wrapper .local p {
	font-size: 14px;
	padding-left: 5%;
}

.m_wrapper .local button {
	width: 70px;
	height: 30px;
	border: 1px solid #d2d6dd;
	;
	background: #fff;
	position: absolute;
	padding-left: 20px;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}

.m_wrapper .local button span {
	position: absolute;
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../img/local.png) no-repeat;
	left: 10px;
}


/* store */

.m_wrapper .logo_box_img {
	width: 295px;
	margin: 0 auto;
}

.m_wrapper .logo_box_img li {
	width: 71px;
	height: 71px;
	display: inline-block;
	text-align: center;
}

.m_wrapper .logo_box_img li p {
	font-size: 14px;
}

.m_wrapper li a {
	color: #333;
	text-decoration: none;
}

.m_wrapper .logo_img_box {
	width: 45px;
	height: 42px;
	background: url(../img/icon_img1.png) no-repeat;
	margin: 0 auto;
	padding-bottom: 7px;
}


/*all more*/

.m_wrapper .all_more {
	text-align: center;
	border-top: 1px solid #f5f5f5;
	margin-top: 10px;
	padding: 10px 0px;
}

.m_wrapper .all_more a {
	font-size: 16px;
	text-decoration: none;
	color: #333;
}

.m_wrapper .all_more b {
	display: inline-block;
	width: 12px;
	height: 8px;
	background: url(../img/down.png) no-repeat;
	margin-left: 5px;
}

.m_wrapper .fllow {
	text-align: center;
	padding: 15px 0px;
}

.m_wrapper .fllow a {
	font-size: 16px;
	text-decoration: none;
	color: #333;
}


/*footer*/

.m_wrapper footer {
	width: 80%;
	margin: 0 auto;
}

.m_wrapper footer li {
	margin-top: 15px;
	font-size: 13px;
}

.m_wrapper footer li i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/hot.png) no-repeat;
	margin-right: 5px;
}
 /*版权*/

.m_wrapper footer .fk {
	padding-top: 20px;
}

.m_wrapper footer div {
	text-align: center;
	padding: 5px 0px;
}

.m_wrapper footer .fk i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/note.png) no-repeat;
	margin-right: 3px;
}

.m_wrapper footer .jg i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-size: 100px;
	background: url(../img/icon.png) -25px 0px no-repeat;
	margin-right: 3px;
}

.m_wrapper footer div a {
	color: #999;
	text-decoration: none;
}

}


@media only screen and (min-width: 421px) and (max-width: 531px) {
	body{
		min-width: 0px;
	}
	.wrapper {
		display: none;
	}
	.m_wrapper {
		display: block;
		background: #f1f1f1;
		position: relative;
		padding-bottom: 20px;
	}
	.m_wrapper header {
		padding: 3px 5px;
		width: 100%;
		margin-bottom: 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		/* Firefox */
		-webkit-box-sizing: border-box;
		/* Safari */
	}
	.m_wrapper .weather {
		position: relative;
		width: 50%;
		display: inline-block;
	}
	.m_wrapper .icon_weatert {
		width: 25px;
		height: 28px;
		background: url(../img/weather_1.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 5px;
	}
	.m_wrapper .icon_weatert {
		width: 25px;
		height: 28px;
		background: url(../img/weather_1.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 5px;
	}
	.m_wrapper .weather div {
		display: inline-block;
	}
	.m_wrapper .temp {
		font-size: 20px;
		color: #8c8c8c;
		padding-left: 2px;
	}
	/*地区*/
	.m_wrapper .area {
		position: relative;
		padding: 0 2px 0 7px;
		top: 3px;
		color: #999;
	}
	.m_wrapper .area p {
		height: 13px;
		line-height: 13px;
		font-size: 11px;
		color: #999;
	}
	.dir_down {
		width: 10px;
		height: 9px;
		background: url(../img/down.png) no-repeat;
		display: inline-block;
		position: relative;
		bottom: -5px;
	}
	.m_wrapper .login {
		position: absolute;
		width: 50%;
		display: inline-block;
		top: 0;
		right: 0;
	}
	.m_wrapper .user_box_img {
		position: absolute;
		top: 8px;
		right: 50px;
	}
	.m_wrapper .user_box_set {
		position: absolute;
		top: 12px;
		right: 12px;
	}
	.m_wrapper .login i.user_img {
		width: 20px;
		height: 20px;
		background: url(../img/login.png) no-repeat;
		display: inline-block;
	}


.m_wrapper .login i.user_set {
	width: 20px;
	height: 17px;
	background: url(../img/set.png) no-repeat;
	display: inline-block;
}
/*logo*/

.m_wrapper .logo {
	padding: 17px 0 15px;
	vertical-align: middle;
	text-align: center;
}

.m_wrapper article form {
	padding: 0 10px;
}


/*搜索*/

.m_wrapper article .search {
	position: relative;
	width: 100%;
}


/*搜索框*/

.m_wrapper article form input[type="text"] {
	border-radius: 0;
	margin: 0;
	padding: 7px 50% 7px 6px;
	height: 26px;
	line-height: 22px;
	resize: none;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}


/*搜索按钮*/

.m_wrapper article form button[type="submit"] {
	position: absolute;
	top: 0px;
	right: -1px;
	width: 82px;
	height: 42px;
	background: #38f;
	color: #fff;
	white-space: nowrap;
	line-height: 42px;
	letter-spacing: -1px;
	font-size: 16px;
	border-top: 1px solid #38f;
	border: 1px solid #38f;
	box-sizing: inherit;
}

.m_wrapper .icon_box {
	position: absolute;
	top: 10px;
	right: 35%;
}

.m_wrapper .icon_box i {
	display: inline-block;
}

.m_wrapper .icon_box .radio {
	width: 16px;
	height: 22px;
	background: url(../img/radio.png) no-repeat;
}

.m_wrapper .icon_box .three_horn {
	width: 0px;
	height: 0px;
	border: 4px solid #717077;
	;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom: 0;
	position: absolute;
	top: 10px;
	left: 18px;
}


/*nav*/

.m_wrapper article nav {
	padding: 0px 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 20px;
}

.m_wrapper article nav a {
	color: #666;
	text-decoration: none;
}

.m_wrapper article nav i {
	display: block;
	width: 22px;
	height: 20px;
	margin-bottom: 5px;
}


/*nav 图标*/

.m_wrapper article nav .news i {
	background: url(../img/icon_1.png) no-repeat;
}

.m_wrapper article nav .novel i {
	background: url(../img/icon_2.png) no-repeat;
}

.m_wrapper article nav .vedio i {
	background: url(../img/icon_3.png) no-repeat;
}

.m_wrapper article nav .rice i {
	background: url(../img/icon_4.png) no-repeat;
}

.m_wrapper article nav .map i {
	background: url(../img/icon_5.png) no-repeat;
}

.m_wrapper article nav .more i {
	background: url(../img/icon_6.png) no-repeat;
}


/*section one*/

.m_wrapper section {
	margin-top: 10px;
	background: #fff;
}
/*内容*/

.m_wrapper table {
	padding: 10px;
	border-collapse: collapse;
}


/*标题*/

.m_wrapper .tit {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
	color: #999;
	padding: 10px 15px;
	font-size: 14px;
}

.m_wrapper .icon_more {
	display: inline-block;
	width: 12px;
	height: 18px;
	background: url(../img/icon_more.png) no-repeat;
}


/*内容*/

.m_wrapper table tbody {
	text-align: center;
	font-size: 14px;
	color: #333;
}

.m_wrapper table tbody tr {
	border-bottom: 1px solid #f5f5f5;
}

.m_wrapper table tr td {
	border-left: 1px solid #f5f5f5;
	padding: 13px 0px;
}

.m_wrapper table tr td:nth-child(1) {
	border-left: 0px;
}

.m_wrapper table td a {
	color: #333;
	text-decoration: none;
}




.m_wrapper .local {
	padding: 20px 15px;
	position: relative;
}

.m_wrapper .local p {
	font-size: 14px;
	padding-left: 5%;
}

.m_wrapper .local button {
	width: 70px;
	height: 30px;
	border: 1px solid #d2d6dd;
	;
	background: #fff;
	position: absolute;
	padding-left: 20px;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}

.m_wrapper .local button span {
	position: absolute;
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../img/local.png) no-repeat;
	left: 10px;
}


/* store */

.m_wrapper .logo_box_img {
	width: 295px;
	margin: 0 auto;
}

.m_wrapper .logo_box_img li {
	width: 71px;
	height: 71px;
	display: inline-block;
	text-align: center;
}

.m_wrapper .logo_box_img li p {
	font-size: 14px;
}

.m_wrapper li a {
	color: #333;
	text-decoration: none;
}

.m_wrapper .logo_img_box {
	width: 45px;
	height: 42px;
	background: url(../img/icon_img1.png) no-repeat;
	margin: 0 auto;
	padding-bottom: 7px;
}


/*all more*/

.m_wrapper .all_more {
	text-align: center;
	border-top: 1px solid #f5f5f5;
	margin-top: 10px;
	padding: 10px 0px;
}

.m_wrapper .all_more a {
	font-size: 16px;
	text-decoration: none;
	color: #333;
}

.m_wrapper .all_more b {
	display: inline-block;
	width: 12px;
	height: 8px;
	background: url(../img/down.png) no-repeat;
	margin-left: 5px;
}

.m_wrapper .fllow {
	text-align: center;
	padding: 15px 0px;
}

.m_wrapper .fllow a {
	font-size: 16px;
	text-decoration: none;
	color: #333;
}


/*footer*/

.m_wrapper footer {
	width: 80%;
	margin: 0 auto;
}

.m_wrapper footer li {
	margin-top: 15px;
	font-size: 13px;
}

.m_wrapper footer li i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/hot.png) no-repeat;
	margin-right: 5px;
}
/*版权*/

.m_wrapper footer .fk {
	padding-top: 20px;
}

.m_wrapper footer div {
	text-align: center;
	padding: 5px 0px;
}

.m_wrapper footer .fk i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/note.png) no-repeat;
	margin-right: 3px;
}

.m_wrapper footer .jg i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-size: 100px;
	background: url(../img/icon.png) -25px 0px no-repeat;
	margin-right: 3px;
}

.m_wrapper footer div a {
	color: #999;
	text-decoration: none;
}

}
@media only screen and (min-width: 320px) and (max-width: 420px) {
	body {
		font: 12px arial;
		min-width: 0px;
	}
	.wrapper {
		display: none;
	}
	.m_wrapper {
		display: block;
		background: #f1f1f1;
		position: relative;
		padding-bottom: 20px;
	}
	/*头部*/
	.m_wrapper header {
		padding: 3px 5px;
		width: 100%;
		margin-bottom: 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		/* Firefox */
		-webkit-box-sizing: border-box;
		/* Safari */
	}
	/*天气*/
	.m_wrapper .weather {
		position: relative;
		width: 50%;
		display: inline-block;
	}
	.m_wrapper .icon_weatert {
		width: 25px;
		height: 28px;
		background: url(../img/weather_1.png) no-repeat;
		background-size: 100%;
		position: relative;
		top: 5px;
	}
	.m_wrapper .weather div {
		display: inline-block;
	}
	.m_wrapper .temp {
		font-size: 20px;
		color: #8c8c8c;
		padding-left: 2px;
	}
	/*地区*/
	.m_wrapper .area {
		position: relative;
		padding: 0 2px 0 7px;
		top: 3px;
		color: #999;
	}
	.m_wrapper .area p {
		height: 13px;
		line-height: 13px;
		font-size: 11px;
		color: #999;
	}
	.dir_down {
		width: 10px;
		height: 9px;
		background: url(../img/down.png) no-repeat;
		display: inline-block;
		position: relative;
		bottom: -5px;
	}
	/*登录*/
	.m_wrapper .login {
		position: absolute;
		width: 50%;
		display: inline-block;
		top: 0;
		right: 0;
	}
	.m_wrapper .user_box_img {
		position: absolute;
		top: 8px;
		right: 50px;
	}
	.m_wrapper .user_box_set {
		position: absolute;
		top: 12px;
		right: 12px;
	}
	.m_wrapper .login i.user_img {
		width: 20px;
		height: 20px;
		background: url(../img/login.png) no-repeat;
		display: inline-block;
	}


.m_wrapper .login i.user_set {
	width: 20px;
	height: 17px;
	background: url(../img/set.png) no-repeat;
	display: inline-block;
}


/*logo*/

.m_wrapper .logo {
	padding: 17px 0 15px;
	vertical-align: middle;
	text-align: center;
}

.m_wrapper article form {
	padding: 0 10px;
}


/*搜索*/

.m_wrapper article .search {
	position: relative;
	width: 100%;
}


/*搜索框*/

.m_wrapper article form input[type="text"] {
	border-radius: 0;
	margin: 0;
	padding: 7px 35% 7px 6px;
	height: 26px;
	line-height: 22px;
	resize: none;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}


/*搜索按钮*/

.m_wrapper article form button[type="submit"] {
	position: absolute;
	top: 0px;
	right: -1px;
	width: 82px;
	height: 42px;
	background: #38f;
	color: #fff;
	white-space: nowrap;
	line-height: 42px;
	letter-spacing: -1px;
	font-size: 16px;
	border-top: 1px solid #38f;
	border: 1px solid #38f;
	box-sizing: inherit;
}

/*.m_wrapper .icon_box {
	position: absolute;
	top: 10px;
	right: 35%;
}*/

.m_wrapper .icon_box i {
	display: inline-block;
}

.m_wrapper .icon_box .radio {
	width: 16px;
	height: 22px;
	background: url(../img/radio.png) no-repeat;
}

.m_wrapper .icon_box .three_horn {
	width: 0px;
	height: 0px;
	border: 4px solid #717077;
	;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom: 0;
	position: absolute;
	top: 10px;
	left: 18px;
}


/*nav*/

.m_wrapper article nav {
	padding: 0px 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 20px;
}

.m_wrapper article nav a {
	color: #666;
	text-decoration: none;
}

.m_wrapper article nav i {
	display: block;
	width: 22px;
	height: 20px;
	margin-bottom: 5px;
}


/*nav 图标*/

.m_wrapper article nav .news i {
	background: url(../img/icon_1.png) no-repeat;
}

.m_wrapper article nav .novel i {
	background: url(../img/icon_2.png) no-repeat;
}

.m_wrapper article nav .vedio i {
	background: url(../img/icon_3.png) no-repeat;
}

.m_wrapper article nav .rice i {
	background: url(../img/icon_4.png) no-repeat;
}

.m_wrapper article nav .map i {
	background: url(../img/icon_5.png) no-repeat;
}

.m_wrapper article nav .more i {
	background: url(../img/icon_6.png) no-repeat;
}


/*section one*/

.m_wrapper section {
	margin-top: 10px;
	background: #fff;
}


/*我的导航*/

.m_wrapper table {
	padding: 10px;
	border-collapse: collapse;
}


/*标题*/

.m_wrapper .tit {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
	color: #999;
	padding: 10px 15px;
	font-size: 14px;
}

.m_wrapper .icon_more {
	display: inline-block;
	width: 12px;
	height: 18px;
	background: url(../img/icon_more.png) no-repeat;
}


/*导航内容*/

.m_wrapper table tbody {
	text-align: center;
	font-size: 14px;
	color: #333;
}

.m_wrapper table tbody tr {
	border-bottom: 1px solid #f5f5f5;
}

.m_wrapper table tr td {
	border-left: 1px solid #f5f5f5;
	padding: 13px 0px;
}

.m_wrapper table tr td:nth-child(1) {
	border-left: 0px;
}

.m_wrapper table td a {
	color: #333;
	text-decoration: none;
}


/*生活服务*/

.m_wrapper .local {
	padding: 20px 15px;
	position: relative;
}

.m_wrapper .local p {
	font-size: 14px;
	padding-left: 5%;
}

.m_wrapper .local button {
	width: 70px;
	height: 30px;
	border: 1px solid #d2d6dd;
	;
	background: #fff;
	position: absolute;
	padding-left: 20px;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}

.m_wrapper .local button span {
	position: absolute;
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../img/local.png) no-repeat;
	left: 10px;
}


/* store */

.m_wrapper .logo_box_img {
	width: 295px;
	margin: 0 auto;
}

.m_wrapper .logo_box_img li {
	width: 71px;
	height: 71px;
	display: inline-block;
	text-align: center;
}

.m_wrapper .logo_box_img li p {
	font-size: 14px;
}

.m_wrapper li a {
	color: #333;
	text-decoration: none;
}

.m_wrapper .logo_img_box {
	width: 45px;
	height: 42px;
	background: url(../img/icon_img1.png) no-repeat;
	margin: 0 auto;
	padding-bottom: 7px;
}


/*all more*/

.m_wrapper .all_more {
	text-align: center;
	border-top: 1px solid #f5f5f5;
	margin-top: 10px;
	padding: 10px 0px;
}

.m_wrapper .all_more a {
	font-size: 16px;
	text-decoration: none;
	color: #333;
}

.m_wrapper .all_more b {
	display: inline-block;
	width: 12px;
	height: 8px;
	background: url(../img/down.png) no-repeat;
	margin-left: 5px;
}

.m_wrapper .fllow {
	text-align: center;
	padding: 15px 0px;
}

.m_wrapper .fllow a {
	font-size: 16px;
	text-decoration: none;
	color: #333;
}


/*footer*/

.m_wrapper footer {
	width: 80%;
	margin: 0 auto;
}

.m_wrapper footer li {
	margin-top: 15px;
	font-size: 13px;
}

.m_wrapper footer li i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/hot.png) no-repeat;
	margin-right: 5px;
}


/*版权*/

.m_wrapper footer .fk {
	padding-top: 20px;
}

.m_wrapper footer div {
	text-align: center;
	padding: 5px 0px;
}

.m_wrapper footer .fk i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/note.png) no-repeat;
	margin-right: 3px;
}

.m_wrapper footer .jg i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-size: 100px;
	background: url(../img/icon.png) -25px 0px no-repeat;
	margin-right: 3px;
}

.m_wrapper footer div a {
	color: #999;
	text-decoration: none;
}


}

